{% load static %}<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} — Humanitarians United</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static "/hu_browser/css/style.css" %}" rel="stylesheet">
        <link href="{% static "/hu_browser/bower/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
        {% block styles %}{% endblock %}
    </head>
    <body>
        <div id="authbar">
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#login-modal">Login</button>
            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#register-modal">Sign up</button>
        </div>
        <header>
            <a id="logo" href="{% url 'hu_browser:home' %}">Humanitarians United</a>
            <nav>
                <ul>
                    <li><a href="{% url 'hu_browser:about' %}">About</a></li><!--
                 --><li><a href="{% url 'hu_browser:orgs' %}">Organizations</a></li><!--
                 --><li><a href="{% url 'hu_browser:forum' %}">Forum</a></li>
                </ul>
            </nav>
        </header>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">&copy; 2017 Humanitarians United</div>

        {# Account modals #}
        <div id="login-modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Login</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="login-modal-username">Username</label>
                                <input type="text" class="form-control" id="login-modal-username" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <label for="login-modal-password">Password</label>
                                <input type="password" class="form-control" id="login-modal-password" placeholder="Password">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Login</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="register-modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Register</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="register-modal-username">Username</label>
                                <input type="text" class="form-control" id="register-modal-username" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <label for="register-modal-email">Email</label>
                                <input type="email" class="form-control" id="register-modal-email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="register-modal-password">Password</label>
                                <input type="password" class="form-control" id="register-modal-password" placeholder="Password">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Register</button>
                    </div>
                </div>
            </div>
        </div>

        {# Scripts #}
        <script src="{% static "/hu_browser/bower/jquery/dist/jquery.min.js" %}"></script>
        <script src="{% static "/hu_browser/bower/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    </body>
</html>
