/* Global */
html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    /* For footer */
    padding-bottom: 32px;
}

#authbar {
    margin: 0px;
    padding: 4px;
    text-align: right;
    background-color: #00e673
}

/* Header & Logo */

header {
    font-variant: small-caps;
    font-family: sans-serif;
    display: block;
    margin: 0 auto;
}

.jumbotron {
    height: 300px;
    margin-bottom: 0;
    border-radius: 0;
}

#logo {
    display: block;
    text-align: center;
    font-size: 32px;
}

nav a {
    /*color: #668cff;
    background-color: #e6ecff;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    border-bottom: 4px solid #668cff;*/
}

nav a:hover {
    color: white;
    text-decoration: none;
    border-bottom-color: #002db3;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #b3c6ff;
    text-decoration: none;
}

.navbar {
    outline-width: 0;
    background: #b3c6ff;
    margin-bottom: 0;
    border-radius: 0;
}

@media (max-width: 500px) {
    /* Specifying `header' here is a hack to override the inline
           <style>nav a { width: X%; }</style>
       in base.html templates in apps */
    header nav a {
        display: block;
        width: 100%;
    }
}

/* Content */
#content {
    margin: 0 auto 0 auto;
    padding: 0 0;
}

/* Footer */

#footer {
    text-align: right;
    width: 100%;
    background-color: #eee;
    font-size: 12px;
    padding: 8px;
    position: absolute;
    bottom: 0;
}
