{% extends 'ghu_main/base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<div id="container">
    <div class="Content" id="Title">
        <h2>We are Global Humanitarians Unite</h2>
    </div>
    <div class="Content" id="Goal">
        <h3>Our Goal</h3>
        <p>
        </p>
    </div>
    <div class="Content" id="Mission">
        <h3>Our Mission</h3>
        <p>
        </p>
    </div>
    <div class="Content" id="People">
        <h3>Meet the Heroes</h3>
    </div>
</div>
{% endblock %}
