{% extends 'ghu_main/base.html' %}
{% block title %}About{% endblock %}
{% block content %}
    <h1>About Global Humanitarians Unite</h1>
    <h2>Who we are</h2>
    <p>In every nation, humanitarians &mdash; who share a passion to help
    others &mdash; strive to improve the world we live in. Global Humanitarians
    Unite believes that uniting these people would make a world of peace
    possible. Our mission is to assist in the development and expansion of
    humanitarian efforts through networking and the creation of a collaborative
    space.</p>
    <h2>What we do</h2>
    <p>We support humanitarian organizations around the world. By providing
    online services, we aid fellow humanitarians in gathering resources and
    coordinate large-scale efforts that involve our member organizations. Our
    membership fees and donations from global partners are used in funding
    these efforts. We continuously form alliances that allow us to provide an
    abundance of resources to humanitarians who are already working to make a
    difference.</p>
    <h2>Where we work</h2>
    <p>We are based in Atlanta, USA, but connect worldwide.</p>
{% endblock %}
