{% extends 'ghu_global/layout.html' %}
{% load static %}
{% block site_name %}Global Humanitarians Unite{% endblock %}
{% block styles %}
    {{ block.super }}
    <link href="{% static "/ghu_main/css/base.css" %}" rel="stylesheet">
{% endblock %}
{% block header %}
    <div id="logo" class="container">
        <a href="{% url 'ghu_main:home' %}">Global Humanitarians Unite</a>
    </div>

    <div class="jumbotron">
      <div id="jumbotron-title" class="title-phrase">
        <p class="lead">- Connecting Humanitarians to Improve the World -</p>
      </div>
    </div>
    <a id="feedback" href="{{ settings.FEEDBACK_FORM_URL }}" target="_blank">Feedback</a>
    {% if user.is_authenticated %}
        <a id="logout" href="{% url 'ghu_main:logout' %}">Log out</a>
    {% else %}
        <a id="login" href="{% url 'ghu_main:login' %}">Log in</a>
        <a id="register" href="{% url 'ghu_main:register' %}">Register</a>
    {% endif %}

    <nav class="navbar navbar-default collapsed">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% for entry in navbar %}
                        <li><a href="{% if entry.page %}{% if entry.page.slug %}{% url 'ghu_main:page' slug=entry.page.slug %}{% else %}{% url 'ghu_main:home' %}{% endif %}{% else %}{% url entry.url %}{% endif %}">{{ entry.label }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
