{% extends 'ghu_global/layout.html' %}
{% load static %}
{% block site_name %}Global Humanitarians Unite{% endblock %}
{% block styles %}
    {{ block.super }}
    <link href="{% static "/ghu_main/css/base.css" %}" rel="stylesheet">
{% endblock %}
{% block header %}
    <div id="logo" class="container">
        <a href="{% url 'ghu_main:home' %}">Global Humanitarians Unite</a>
    </div>

    <div class="jumbotron">
      <div id="jumbotron-title" class="title-phrase">
        <p class="lead">Connecting Humanitarians to Improve the World</p>
      </div>
    </div>
    <a id="feedback" href="{{ settings.FEEDBACK_FORM_URL }}" target="_blank">Feedback</a>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                {% for entry in navbar %}
                    <li><a href="{% if entry.page.slug %}{% url 'ghu_main:page' slug=entry.page.slug %}{% else %}{% url 'ghu_main:home' %}{% endif %}">{{entry.label}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </nav>
{% endblock %}
