{% extends 'ghu_main/base.html' %}
{% load static %}
{% block title %}Profiles{% endblock %}
{% block styles %}
    {{ block.super }}
    <link href="{% static "/ghu_main/css/generic-list.css" %}" rel="stylesheet">
    <style>
      p strong:first-child {
          display:inline;
      }
    </style>
{% endblock %}
{% block content %}
    <h1>Profiles</h1>
    <div class="container">
        <p>
          <strong>Name: </strong>{{ profiles.name }}<br />
          <strong>E-mail: </strong>{{ profiles.email }}<br />
          <strong>Location: </strong>{{ profiles.location }}<br />
          <strong>Profiles: </strong>{{ profiles.phone }}<br />
          <strong>Summary: </strong>{{ profiles.summary }}<br />
          <strong>Description: </strong>{{ profiles.description }}<br />
        </p>
    </div>
{% endblock %}
