{% extends 'ghu_main/base.html' %}
{% load static %}
{% block title %}Organizations{% endblock %}
{% block styles %}
    {{ block.super }}
    <link href="{% static "/ghu_main/css/organizations.css" %}" rel="stylesheet">
    <link href="{% static "/ghu_main/css/generic-list.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <h1>Organization</h1>
    <div class="container">
        {% for organization in organizations %}
            <p class="list-entry">
                <a id="organization-link" href="{% url 'ghu_main:organization' slug=organization.slug %}">
                    <strong>{{ organization.name}}</strong><br />
                    {{ organization.summary }}
                </a>
            </p>
        {% endfor %}
    </div>
{% endblock %}
