{% extends 'ghu_main/base.html' %}
{% load static %}
{% block title %}Toolkits{% endblock %}
{% block styles %}
    {{ block.super }}
    <link href="{% static "/ghu_main/css/toolkits.css" %}" rel="stylesheet">
    <link href="{% static "/ghu_main/css/generic-list.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <h1>Toolkits</h1>
    <div class="container">
        {% for toolkit in toolkits %}
            <p class="list-entry">
                <a id="toolkit-link" href="{% url 'ghu_main:toolkit' slug=toolkit.slug %}">
                    <strong>{{ toolkit.title }}</strong><br />
                    {{ toolkit.summary }}
                </a>
            </p>
        {% endfor %}
    </div>
{% endblock %}
