[submodule "hu_web/ghu-toolkits"]
	path = hu_web/ghu-toolkits
	url = https://github.com/global-humanitarians-unite/ghu-toolkits.git
[submodule "ghu_toolkits"]
	path = ghu_toolkits
	url = https://github.com/global-humanitarians-unite/ghu_toolkits.git
[submodule "hu_web/ghu_toolkits"]
	path = hu_web/ghu_toolkits
	url = https://github.com/global-humanitarians-unite/ghu_toolkits.git
