{% extends 'ghu_browser/layout.html' %}
{% load static %}
{% block styles %}
    <link href="{% static "/ghu_browser/css/orgs.css" %}" rel="stylesheet">
{% endblock %}
{% block title %}Organizations{% endblock %}
{% block scripts %}
    <script src="{% static "/ghu_browser/js/orgs.js" %}"></script>
{% endblock %}
{% block content %}
    <div id="container" class="container">
        <div id="search" class="input-group">
            <input id="org-search-field" type="text" class="form-control" placeholder="Search Organizations">
            <span class="input-group-btn">
                <button id="org-search-btn" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
        <ul id="results">
            {% for org in results %}
                <li><a href="#">
                    <div class="results-name">{{ org.name }}</div><br>
                    <div class="results-loc">{{ org.loc }}</div>
                    <ul class="results-categs">
                        {% for categ in org.categs %}
                            {% with "/ghu_browser/img/categ-"|add:categ.name|add:".png" as image_url %}
                                <li><img title="{{ categ.name|title }}" src="{% static image_url %}"></li>
                            {% endwith %}
                        {% endfor %}
                    </ul>
                </a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
