# Deployment Configuration
# ------------------------
# When running deploy scripts other than init_deploy.sh,
# $GHU_DEPLOY_CONFIG_PATH should contain the absolute path to this file.

# Directory where deployment lives (configuration, virtualenv, code, etc.)
deploy_root="{{ deploy_root }}"
# Use git to clone/pull from this URL
clone_url="https://github.com/global-humanitarians-unite/ghu.git"
# The git branch to track
clone_branch="{{ instance }}"
# User under which uwsgi (the server) runs
server_user="ghu-{{ instance }}"
# Name of systemd unit (Needs to be unique between deployments)
systemd_unit_name="ghu-{{ instance }}.service"
