# Deployment Configuration
# ------------------------
# When running deploy scripts other than init_deploy.sh,
# $GHU_DEPLOY_CONFIG_PATH should contain the absolute path to this file.

# Directory where deployment lives (configuration, virtualenv, code, etc.)
deploy_root="ABSOLUTE_PATH_TO_DEPLOY_ROOT"
# Use git to clone/pull from this URL
clone_url="https://github.com/global-humanitarians-unite/ghu.git"
# The git branch to track
clone_branch="master"
