[Unit]
Description=Global Humanitarians Unite uWSGI server
After=network.target

[Service]
Type=simple
User=SERVER_USER_HERE
Environment=GHU_DEPLOY_CONFIG_PATH=DEPLOY_CONFIG_PATH_HERE
ExecStart=DEPLOY_ROOT_HERE/run.sh
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
