{% load static %}<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} — GHU Toolkits</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static "/ghu_toolkits/css/style.css" %}" rel="stylesheet">
        <link href="{% static "/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
        {% block styles %}{% endblock %}
    </head>
    <body>
        <header>
            <a id="logo" href="{% url 'ghu_toolkits:home' %}">GHU Toolkits</a>
            <nav>
            </nav>
        </header>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">&copy; 2017 Humanitarians United &mdash; <a href="https://github.com/humanitarians-united/hu">Source code</a></div>

        {# Scripts #}
        <script src="{% static "/jquery/dist/jquery.min.js" %}"></script>
        <script src="{% static "/bootstrap/dist/js/bootstrap.min.js" %}"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
