h1 {
    font: Helvetica;
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 30px;
}

.main-title {
    background-color: #66e0ff;
    padding: 100px;
}

.second-title {
}

.main-content {
}

.box {
    background-color: #b3f0ff;
}

#c1 {
    padding: 100px;
    background-color: #80e5ff;
}

#c2 {
    padding: 100px;
    background-color: #99d6ff;
}

#c3 {
    padding: 100px;
    background-color: #80ccff;
}
