#content {
    background-color: #ecfbff;
}

#page-title {
    background-color: #bcf1ff;
    padding: 20px 50px;
    margin: 0;
}

p {
    font-size: 20px;
    padding: 50px;
    /* Fallback in case browser lacks support for nth-child (below) */
    background-color: #ecfbff;
}

p strong:first-child {
    display: block;
    font-weight: bold;
}

p:nth-child(even) {
    background-color: #ecfbff;
}

p:nth-child(odd) {
    background-color: #d4f5fe;
}
