#content {
    background-color: #ecfbff;
}

p {
    font-size: 20px;
    padding: 50px;
    /* Fallback in case browser lacks support for nth-child (below) */
    background-color: #ecfbff;
}

p strong:first-child {
    display: block;
    font-weight: bold;
}

p:nth-child(even) {
    background-color: #ecfbff;
}

p:nth-child(odd) {
    background-color: #d4f5fe;
}

@media (max-width: 770px ) {
    p {
      font-size:13px;
    }
}
