#logo {
    margin-top: 40px;
    margin-bottom: 40px;
}

#logo a {
    text-decoration: none;
}

#jumbotron-title {
    position: relative;
    margin-top: 180px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

#jumbotron-title p {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 80px;
    font-size: 30px;
    background-color: black;
    opacity: 0.7;
    margin-left: 30px;
    color: #fff;
}

.jumbotron {
    background-image: url("../img/header-image.png");
}

#feedback {
    display: block;
    width: 100px;
    height: 50px;
    color: white;
    border-radius: 0 0 8px 0;
    text-align: center;
    line-height: 50px;
    position: fixed;
    left: 0;
    top: 0;
    font-weight: bold;
    background: #2dc5ea; /* Fallback */
    background: linear-gradient(#2dc5ea, #4aaec6);
    border: 1px solid #4aaec6;
}

#feedback:link,
#feedback:hover,
#feedback:visited,
#feedback:active {
    text-decoration: none;
}

#feedback:hover {
    background: #4aaec6; /* Fallback */
    background: linear-gradient(#4aaec6, #2dc5ea);
}

/* Mobile Size */
@media (max-width: 770px ) {
    #logo {
        margin-top: 18px;
        margin-bottom: 18px;
    }

    #logo a {
        font-size: 5.2vw;
    }

    #jumbotron-title {
        margin-top: 210px;
    }

    #jumbotron-title p {
        margin-left: 10px;
        padding-left: 30px;
        font-size: 3.7vw;
    }

    #feedback {
      width: 70px;
      height: 35px;
      line-height: 29px;
      font-size: 3.3vw;
    }
}
